
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="Create" method="POST" id="EditProd">
    <table>
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Kategorija</th>
            <th>Proizvodjac</th>
            <th>Dobavljac</th>
            <th>Cena</th>
        </tr>
        <tr>
            <td><input required name="naziv" id="naziv"  /></td>
            <td><input required name="opis" id="opis"  /></td>
            <td><input required name="kategorija" id="kategorija"  /></td>
            <td><input required name="proizvodjac" id="proizvodjac"  /></td>
            <td><input required name="dobavljac" id="dobavljac"  /></td>
            <td><input required name="cena" id="cena"  /></td>
            <td><input type="submit" />
        </tr>
    </table>
</form>
